<div class="sidebar" data-color="purple" data-background-color="white" data-image="/admin/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
            LookForBus
        </a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item" id="street-item">
                <a class="nav-link" href="/admin/streets">
                    <i class="material-icons">dashboard</i>
                    <p>Tên đường</p>
                </a>
            </li>
            <li class="nav-item " id="route-item">
                <a class="nav-link" href="/admin/routes">
                    <i class="material-icons">person</i>
                    <p>Tuyến xe</p>
                </a>
            </li>
            <li class="nav-item" id="route-detail-item">
                <a class="nav-link" href="/admin/route-detail">
                    <i class="material-icons">content_paste</i>
                    <p>Lộ trình</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/">
                    <i class="material-icons">library_books</i>
                    <p>Thống kê</p>
                </a>
            </li>
        </ul>
    </div>
</div>